<main class="my-repository">
  <section>
      <div class="form-repository">
        <h4>My Repository</h4>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 ms-1 me-1">
        <div class="col" *ngFor="let project of projects">
          <div class="card card-item h-100">
            <img [src]="project.image" [alt]="project.title" />

            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ project.title }}</h5>
              <p class="card-text">
                {{ project.description }}
              </p>
            </div>

            <div class="card-button mt-auto">
              <a routerLink="/coming-soon" target="_blank" class="btn btn-primary w-100">
                View more
              </a>
            </div>
          </div>
        </div>
      </div>
  </section>
</main>