<main class="contactPage">
  <section>
      <form (ngSubmit)="submitForm()">
        <div class="form-upload">
          <h4>Leave your message</h4>
        </div>
        <div class="d-flex justify-content-center">
          <div class="col-4 col-md-2 mb-3">
            <label>First Name</label>
            <input
              type="text"
              class="form-control colorInput heightInput"
              [(ngModel)]="firstName"
              name="firstName"
              required
            />
          </div>
          <div class="col-8 col-md-4 mb-3 ms-2">
            <label>Last Name</label>
            <input
              type="text"
              class="form-control colorInput heightInput"
              [(ngModel)]="lastName"
              name="lastName"
              required
            />
          </div>
        </div>
        <div class="col-md-6 offset-md-3 mb-3">
          <label>Email Address</label>
          <input
            type="email"
            class="form-control colorInput heightInput"
            placeholder="name@example.com"
            [(ngModel)]="email"
            name="email"
            required
          />

          <small class="text-danger" *ngIf="email && !isValidEmail(email)">
            Invalid email address
          </small>
        </div>
        <div class="col-md-6 offset-md-3 mb-5">
          <label>Leave your message</label>
          <textarea
            class="form-control colorInput"
            rows="3"
            placeholder="Write your message here..."
            [(ngModel)]="messageText"
            name="messageText"
            required
          ></textarea>
        </div>
        <div class="d-flex justify-content-center m-3">
          <button type="submit" id="buttonSubmit" class="custom-btn mb-5">
            <i class="bi bi-upload me-2"></i> Submit
          </button>
        </div>
      </form>
  </section>
</main>
