<div class="sidebar" id="side_nav" [class.active]="sidebarActive">
  <div class="header-box px-2 pt-3 pb-4">
      <button class="btn d-md-none close-btn px-1 py-0 text-white" (click)="toggleSidebar()">
        <i class="bi bi-x-square"></i>
      </button>
      <img class="logo-profile" src="assets/img/logoProfileAnderson.png" alt="Foto de Perfil" />
      <h1 #typewriterH1 class="fs-4 text-center text-white"></h1>
  </div>

  <ul class="list-unstyled px-2">
      <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" class="text-decoration-none text-center px-3 py-2 d-block"><i class="bi bi-house-door"></i> Home</a></li>
      <li><a routerLink="/about-me" class="text-decoration-none text-center px-3 py-2 d-block"><i class="bi bi-file-earmark-person"></i> About me</a></li>
      <li><a routerLink="/contact" class="text-decoration-none text-center px-3 py-2 d-block"><i class="bi bi-envelope"></i> Send message</a></li>
      <li><a routerLink="/my-repository" class="text-decoration-none text-center px-3 py-2 d-block"><i class="bi bi-person-workspace"></i> My repository</a></li>
      <li><a target="_blank" href="https://github.com/Anderson-Moreton" class="text-decoration-none text-center px-3 py-2 d-block"><i class="bi bi-github"></i></a></li>
      <li><a routerLink="" class="text-decoration-none text-center px-3 py-2 d-block"><i class="bi bi-person-workspace"></i> Social Media</a></li>
      <div class="icons">
        <li><a target="_blank" href="https://www.instagram.com/anderson_moreton/" class="text-decoration-none text-center px-3 py-2 d-block"><i class="bi bi-instagram"></i></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/anderson-moreton-rodrigues-9984089a/" class="text-decoration-none text-center px-3 py-2 d-block"><i class="bi bi-linkedin"></i></a></li>
        <li><a target="_blank" href="https://discord.com/channels/@moreton_anderson" class="text-decoration-none text-center px-3 py-2 d-block"><i class="bi bi-discord"></i></a></li>
      </div>
    </ul>
</div>