/* RESET / GLOBAL */
* {
  font-family: Candara;
  font-weight: 400;
}

/* SIDEBAR */
#side_nav {
  background: #060d15;
  min-width: 250px;
  max-width: 250px;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  overflow-y: auto;
  z-index: 1050;

  transition: margin-left 0.3s ease;
}

/* Desktop + Tablet */
#side_nav {
  margin-left: 0;
}

/* Mobile ONLY */
@media (max-width: 767px) {
  #side_nav {
    margin-left: -250px;
  }

  #side_nav.active {
    margin-left: 0;
  }
}

/* Sidebar content */
.logo-profile {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 20px 45px;
}

.sidebar li a {
  color: #fff;
  transition: 0.3s;
}

.sidebar li a:hover {
  color: #3effbe;
}

.icons {
  display: flex;
  justify-content: space-around;
}

/* Close Button */
.bi-x-square {
  margin-left: 200px;
}

.bi-github,
.bi-instagram,
.bi-linkedin,
.bi-discord {
  font-size: 30px;
}

/* Cursor typing */
h1::after {
  content: "|";
  color: #fff;
  animation: flashing 1s infinite;
}

@keyframes flashing {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* CONTENT */
.content {
  background: #eee;
  margin-left: 250px;
  width: calc(100% - 250px);
  min-height: 100vh;
}

/* Mobile content */
@media (max-width: 767px) {
  .content {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  #side_nav {
    overflow-y: hidden;
  }
}

/* NAVBAR */
.navbar.navbar-expand-lg.navbar-light.bg-light {
  padding: 0;
}

.container-fluid {
  background-color: #060d15;
}

a.navbar-brand.fs-4 {
  color: #fff;
}

.bi-list::before {
  color: #fff;
}