<div class="main-container d-flex align-items-start">
  <!-- Sidebar -->
  <app-sidebar [sidebarActive]="sidebarActive"></app-sidebar>

  <div class="content">
    <!-- Navbar -->
    <app-navbar (toggleSidebarEvent)="sidebarActive = !sidebarActive"></app-navbar>

    <main>
      <div class="container">
        <form (ngSubmit)="submitForm()">
          <div class="form-upload mt-3">
            <h4>Leave your message</h4>
            <div class="picture-message">
              <div class="box" id="image-form">
                <div class="image-upload box">
                  <img #imagePreview id="image-preview" src="" class="picture-message h-100" />
                  <i #cardIcon class="bi bi-card-image"></i>
                  <input
                    id="image-field"
                    type="file"
                    accept="image/*"
                    (change)="onFileChange($event)"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="col-4 col-md-2 mb-1 me-2">
              <label>First Name</label>
              <input
                type="text"
                class="form-control colorInput heightInput"
                [(ngModel)]="firstName"
                name="firstName"
                required
              />
            </div>
            <div class="col-8 col-md-4 mb-1">
              <label>Last Name</label>
              <input
                type="text"
                class="form-control colorInput heightInput"
                [(ngModel)]="lastName"
                name="lastName"
                required
              />
            </div>
          </div>
          <div class="col-md-6 offset-md-3 mb-1">
            <label>Email Address</label>
            <input
              type="email"
              class="form-control colorInput heightInput"
              placeholder="name@example.com"
              [(ngModel)]="email"
              name="email"
              required
            />
          </div>
          <div class="col-md-6 offset-md-3 mb-1">
            <p class="mb-1">Hobby</p>

            <div
              class="form-check form-check-inline"
              *ngFor="let option of ['Game','Study','Gym','Trip','Sport','Music']; let i = index"
            >
              <input
                class="form-check-input"
                type="radio"
                [id]="'hobby' + i"
                name="hobby"
                [value]="option"
                [(ngModel)]="hobby"
              />
              <label class="form-check-label" [for]="'hobby' + i">
                {{ option }}
              </label>
            </div>
          </div>
          <div class="col-md-6 offset-md-3 mb-1">
            <label>Topic</label>
            <select
              class="form-control colorInput heightInput"
              [(ngModel)]="topic"
              name="topic"
              required
            >
              <option value="" disabled>Choose a topic</option>
              <option value="Praise">Praise</option>
              <option value="Suggestion">Suggestion</option>
              <option value="Criticism">Criticism</option>
            </select>
          </div>
          <div class="col-md-6 offset-md-3">
            <label>Leave your message</label>
            <textarea
              class="form-control colorInput"
              rows="2"
              placeholder="Write your message here..."
              [(ngModel)]="messageText"
              name="messageText"
              required
            ></textarea>
          </div>
          <div class="col-md-6 offset-md-3 mt-1">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                [(ngModel)]="showOnHome"
                name="showOnHome"
              />
              <label class="form-check-label">
                I allow this message to be shown on the Home page
              </label>
            </div>
          </div>
          <div class="d-flex justify-content-center m-3">
            <button type="submit" id="buttonSubmit" class="custom-btn mb-3">
              <i class="bi bi-upload me-2"></i> Submit
            </button>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>
