<div class="main-container d-flex align-items-start">
  <!-- Sidebar -->
  <app-sidebar [sidebarActive]="sidebarActive"></app-sidebar>

  <div class="content">
    <!-- Navbar -->
    <app-navbar (toggleSidebarEvent)="sidebarActive = !sidebarActive"></app-navbar>

    <main>
      <div class="container">
        <div class="form-upload mt-0">
          <h4>Leave your message</h4>
          <div class="picture-message">
            <form class="box" id="form-form">
              <div class="image-upload box">
                <img #imagePreview id="image-preview" src="" class="picture-message h-100" />
                <i #cardIcon class="bi bi-card-image"></i>
                <input
                  id="image-field"
                  type="file"
                  accept="image/*"
                  (change)="onFileChange($event)"
                />
              </div>
            </form>
          </div>
        </div>

        <form>
          <div class="d-flex justify-content-center">
            <div class="col-4 col-md-2 mb-2 me-2">
              <label for="inputEmail4">First Name</label>
              <input
                type="text"
                class="form-control colorInput heightInput"
                id="inputEmail4"
                [(ngModel)]="firstName"
                name="firstName"
              />
            </div>
            <div class="col-8 col-md-4 mb-2">
              <label for="inputPassword4">Last Name</label>
              <input
                type="text"
                class="form-control colorInput heightInput"
                id="inputPassword4"
                [(ngModel)]="lastName"
                name="lastName"
              />
            </div>
          </div>

          <div class="col-md-6 offset-md-3 mb-2">
            <label for="exampleFormControlInput1" class="form-label">Email Address</label>
            <input
              type="email"
              class="form-control colorInput heightInput"
              id="exampleFormControlInput1"
              placeholder="nome@exemplo.com"
              [(ngModel)]="email"
              name="email"
            />
          </div>

          <div class="col-md-6 offset-md-3 mb-2">
            <p class="mb-1">Hobby</p>
            <div
              class="form-check form-check-inline"
              *ngFor="
                let option of ['Game', 'Study', 'Gym', 'Trip', 'Sport', 'Music'];
                let i = index
              "
            >
              <input
                class="form-check-input colorInput"
                type="radio"
                name="hobby"
                [id]="'inlineRadio' + (i + 1)"
                [value]="option"
                [(ngModel)]="hobby"
              />
              <label class="form-check-label" [for]="'inlineRadio' + (i + 1)">{{ option }}</label>
            </div>
          </div>

          <div class="col-md-6 offset-md-3 mb-2">
            <label for="exampleFormControlSelect1" class="form-label">Topic</label>
            <select
              class="form-control colorInput heightInput"
              id="exampleFormControlSelect1"
              [(ngModel)]="topic"
              name="topic"
            >
              <option value="" disabled selected>Choose a topic</option>
              <option value="Praise">Praise</option>
              <option value="Suggestion">Suggestion</option>
              <option value="Criticism">Criticism</option>
            </select>
          </div>

          <div class="col-md-6 offset-md-3">
            <label for="exampleFormControlTextarea1" class="form-label">Leave your message</label>
            <textarea
              class="form-control colorInput"
              id="exampleFormControlTextarea1"
              rows="2"
              placeholder="Write your message here..."
              [(ngModel)]="messageText"
              name="messageText"
            ></textarea>
          </div>

          <div class="d-flex justify-content-center m-3">
            <button type="button" id="buttonSubmit" class="custom-btn mb-3" (click)="submitForm()">
              <i class="bi bi-upload me-2"></i> Submit
            </button>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>
